// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.bodyIndexTweet{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.bodyIndexLeft{
    height: 100%;
    flex-basis: 20%;
    border-right: .5px solid #36454F;
}

.bodyIndexMid{
    height: 100%;
    flex-basis: 55%;
    overflow-y: scroll;
}

.bodyIndexMid__label{
    font-size: 20px;
    border-bottom: 1px solid #36454F;
    padding: 1rem;
}

.bodyIndexMid__mainForm{
    border-bottom: 1px solid #36454F;
    padding: 1rem;
}

.bodyIndexRight{
    height: 100%;
    flex-basis: 25%;
    border-left: .5px solid #36454F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

.bodyIndexRight__main{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 1.5rem;
}

/* ---- main tweet body  -------   */

.tweet_container{
    border-bottom: .5px solid #36454F;
    padding: 1rem;
}

.tweet_container_main{
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}

.tweet_container_user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    margin-bottom: .5rem;
}

.tweet_container_icons{
    margin-left: 2rem;
}

.tweet_container_user_head{
    display: flex;
    margin-bottom: .5rem;
    justify-content: space-between;
}

.tweet_user{
    font-weight: bold;
    margin-right: 1rem;
}

.tweet_time_ago{
    font-size: 12px;
    color: #A9A9A9;
}

.tweet_topic{
    color: #00acee;
}

.tweet_editDelete{
    display: flex;
    margin-left: 25rem;
    margin-top: -1rem;
}

/******* CRUD MODAL **************/

/***new tweet***/
.tweet_new_modal{
    position: fixed;
    background: #36454F;
    border-radius: 15px;
    top: 20%;
    left: 30%;
    width: 30%;
    min-height: 30%;
}

.tweet_new_close{
    display: flex;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 1rem;
}

.tweet_new_main_form{
    display: flex;
    margin: 1rem;
    width: 100%;
}

.tweet_new_input{
    display: flex;
    flex-direction: column;
    margin-left: .5rem;
    width: 80%;
}

.tweet_new_input_items{
    margin-bottom: .5rem;
    background: transparent;
    color: white;
}

.tweet_new_input textarea{
    min-height: 3rem;
    resize: none;
    border: none;
}

.tweet_new_input textarea:focus,
.tweet_new_input select:focus{
    outline: 1px solid #00acee;
    border: none;
}

.tweet_new_input select option:first-child{
    color: gray;
}

.tweet_icon_containers{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tweet_new_button{
    border-radius: 9999px;
    border: none;
    padding: .5rem;
    min-width: 5rem;
    cursor: pointer;
}

.tweet_new_button:hover{
    background: #00acee;
    color: white;
}

/*******REPLY CONTAINERS **********/

.reply_container{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border-bottom: 1px solid #36454F;
}

.reply__main{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-left: 3rem;
}

.reply_new_input input{
    margin-bottom: .5rem;
    background: transparent;
    color: white;
    border: 1px solid gray;
}

.reply_new_input select{
    margin-bottom: .5rem;
    background: transparent;
    color: white;
}

.reply_new_input input:focus,
.reply_new_input textarea:focus,
.reply_new_input select:focus{
    outline: 1px solid #00acee;
    border: none;
}

.reply_new_input{
    display: flex;
    flex-direction: column;
    margin-left: .5rem;
    width: 80%;
}
