// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.bodyIndexTweet{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.bodyIndexLeft{
    height: 100%;
    flex-basis: 20%;
    border-right: .5px solid #36454F;
}

.bodyIndexMid{
    height: 100%;
    flex-basis: 55%;
    overflow-y: scroll;
}

.bodyIndexMid__label{
    font-size: 20px;
    border-bottom: 1px solid #36454F;
    padding: 1rem;
}

.bodyIndexMid__mainForm{
    border-bottom: 1px solid #36454F;
    padding: 1rem;
}

.bodyIndexRight{
    height: 100%;
    flex-basis: 25%;
    border-left: .5px solid #36454F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

.bodyIndexRight__main{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 1.5rem;
}

/* ---- main tweet body  -------   */

.tweet_container{
    border-bottom: .5px solid #36454F;
    padding: 1rem;
}

.tweet_container_main{
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}

.tweet_container_user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    margin-bottom: .5rem;
}

.tweet_container_icons{
    margin-left: 2rem;
}

.tweet_container_user_head{
    display: flex;
    margin-bottom: .5rem;
}

.tweet_user{
    font-weight: bold;
    margin-right: 1rem;
}

.tweet_time_ago{
    font-size: 12px;
    color: #A9A9A9;
}

.tweet_topic{
    color: #00acee;
}
